:root {
    font-size: 16px;
}
body{
    background-color: white;
}

.ifoSec1 {
    background-image: url("images/Ifo images/ifo-banner-dark.png");
    border: 0.0625rem solid red;
    background-position: center top, center center;
    background-repeat: no-repeat;
}

.initialSec {
    max-width: 75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    border: 0.0625rem solid blue;
    display: flex;
    flex-direction: column;
}
.btnSection {
    position: relative;
    display: flex;
    justify-content: space-between;
}

h1{
    color: #f4eeff;
    font-size: 2.5rem;
    font-weight: 600;
}
.h2{
    font-size: 1.48rem;
    font-weight: 600;

}
.stam{
    font-weight: 600;
    font-size: 0.87rem;
}


@media screen and (min-width: 53.25rem) {
    .heading2 {
        font-size: 1.25rem;
    }
    h1{
        font-size: 54px;
    }
}

@media screen and (min-width: 23.125rem) {
    .initialSec {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}
@media screen and (max-width: 550px) {
    #hDiw{
        background-color: #353547;
        color: #1fc7d4;
        padding: 4px 13px;
        height: auto;
        text-transform: uppercase;
        align-self: flex-start;
        font-size: 12px;
        box-shadow: inset 0px 2px 2px -1px rgba(74,74,104,.1);;
        border-radius: 8px;
        margin-left: 8px;
        width: 10rem;
    }
    #btnSection {
        display: flex;
        justify-content: normal;
    }
    #h1{

    }
}

.heading2 {
    color: #f4eeff;
    font-weight: 600;
    font-size: 1rem;
}

.hDiw {
    position: relative;
    align-items: center;
    border: 0;
    border-radius: 1rem;
    box-shadow: rgba(14, 14, 44, 0.4);
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0;
    height: 3rem;
    padding: 0 1.5rem;
    background-color: #b8add2;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    color: #27262c;
}

.hDiw:hover {
    opacity: 50%;
}

.ifoSec2{
    display: flex;
    gap: 2.5rem;
    padding: 2.5rem;
    justify-content: center;


}
.stakeCakeSec{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sCk1, .sCk2{
    border: 1px solid red;
    border-radius: 24px;
    min-width: 280px;
    width: 22.5rem;
    height: auto;
    display: flex;
    flex-direction: column;
}
.k1,.k2,.k3{
    display: flex;
    flex-direction: column;
}

.k1div{
    display: flex;
    justify-content: space-between;
    border: 1px solid blue;
    height: auto;
    background-color: white;
    color: mediumblue;
    padding: 1.5rem 0.9rem;

}
.ifoImage1{
    display: flex;
    flex-direction: column-reverse;

}
.beer{
    width: 4.5rem;

}
.arrReverse{
    position: absolute;
    width: 2.3rem;
    margin-bottom: -0.5rem;
    margin-left: 2rem;

}
.k1{
    border-top-right-radius: inherit;
    border-top-left-radius: inherit ;

}
.k2{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.k3{
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit ;
}
.sCk3{

}
.k2{
    border: 1px solid red;
    padding: 1.7rem;
}
.k21{
    padding: 1rem;
    border: 1px solid blue;
}
.fApy, .fApr{
    display: flex;
    justify-content: space-between;
}
.ewallet2{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
#auto\/locked{
    width: 5rem;
}
.k3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.7rem;
}
.k1sec2{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    padding: 1.7rem;
    text-align: center;
}
.ques\?{
    width: 80px;
}
.sCk3{
    border: 1px solid red;
    border-radius: 24px;
    min-width: 280px;
    float: right;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    color: #f4eeff;
}
@media screen and (min-width: 852px){
    .comingSoon {
        height: 160px;
    }
}

.sect1{
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
@media  screen and (max-width: 1199px) {
    .sect1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media  screen and (max-width: 1080px) {
    .ifoSec2{
        flex-direction: column;
    }
    .stakeCakeSec{
        align-items: center;
    }
}
.rect1{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 268px;
    border-radius: 24px;
}
.comingSoon{
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
}
.fle1{
    padding: 15px 24px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    background-color: #452a7a;
}
.ad{
    color: #f4eeff;
    line-height: 1.5;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}
.k1sec22{
    flex-direction: column;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    text-align: center;
    background-color: #383241;
    overflow: hidden;
}


.lin1,.lin2,.lin3,.lin4{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    color: #383241;
    border-radius: 24px;
    padding: 24px;
}
.hiddenLin{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    color: #383241;
    border-radius: 24px;
    padding: 1rem;
}
.lin1,#hidden1{
    max-width: 28rem;
}
.lin2,#hidden2{
    max-width: 32rem;
}
.lin3,#hidden3{
    max-width: 32rem;
}
.lin4,#hidden4{
    max-width: 32.5rem;
}

.circleNumbers{
    display: flex;
    width: 80px;
    font-size: 40px;
    min-height: 80px;
    min-width: 80px;
    height: 80px;
    box-shadow: rgba(25, 19, 38, 0.15) 0 1px 4px;
    background-color: #191326;
    border: 2px solid transparent;
    border-radius: 50%;
    color: #666171;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    z-index: 5;

}
#verticalLine{
    float: left;
    position: absolute;
    left: 2px;
}

.divLine1{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 852px) {
    #circleNumbers1,#circleNumbers2,#circleNumbers3,#circleNumbers4 {
        font-size: 32px;
        width: 48px;
        height: 48px;
        min-height: 48px;
        min-width: 48px;
    }
    #main2{
        justify-content: flex-start;
        align-items: flex-start;
        float: left;
        flex-direction: column;
        border: 1px solid red;
        padding: 1.5rem;

    }

    .lin1,.lin2,.lin3,.lin4{
        display: none;
    }
    #hidden1,#hidden2,#hidden3,#hidden4{
        visibility: visible;
    }
    #verticalLine {
        left: -205px;
        width: 508px;
    }
    #divLin1,#divLin3{
        flex-direction: row-reverse;
    }

}
@media screen and (max-width: 557px) {
    #verticalLine{
        width: 590px;
        margin-bottom: -20px;
        left: -245px;
    }
}
@media screen and (max-width: 453px) {
    #verticalLine{
        width: 700px;
        margin-bottom: -135px;
        left: -300px;
    }
}
.hiddenLin{
    visibility: hidden;

}
#justify,#justify2{
    text-align: left;
}
.main2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid red;
    padding: 1.5rem;
}
.h2{
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 24px;
    color: #9a6aff;

}
.verticalLine{
    position: absolute;
    height: 4px;
    width: 581px;
    transform: rotate(90deg);
    margin-top: 122px;
    background: linear-gradient(to right, #31d0aa 110px, #31d0aa 110px, #666171 110px, #666171 100%);
}



