/* main */

/* div_1 */
body{
    font-family: Kanit, sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #191326;
    font-family: kanit, sans-serif;
    padding: 0.5rem;
    height: 100%;
    width: 100%;
}
.div_cir_dot{
    display: flex;
    gap: 0.1rem;
    align-items: center;
}
.green_dot{
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #31d0aa;
    display: inline-block;
}
.cir_dot{
    border-radius: 50%;
    width: 0.25rem;
    height: 0.25rem;
    background-color: black;
    display: inline-block;
}
.moon_is_made_of_pancakes{
    position: absolute;
    display: flex;
    gap: 2rem;
    padding: 1rem;
    width: 100%;
    left: 0;
    right: 0;
    border: 1px solid red;
    background-color: #1d1630;
}
.img_astronaut{
    position: relative;
    width: 34rem;
    height: 34rem;
    border: 1px solid red;
    text-align: left;
    margin-top: -8rem;
    animation: astro 2.5s ease-in-out 0.33s infinite alternate;
}
@keyframes astro{
    0%{left:0; top:0}
    100%{left:0.5rem;top: 0.5rem}
}
#top_star{
    position: relative;
    width: 2rem;
    height: 2rem;
    top: -26.8rem;
    right: -26rem;
    animation: top_star 1.3s ease-in-out 0.33s infinite alternate;
}
@keyframes top_star {
    0%{opacity:20%}
    20%{opacity:40%}
    40%{opacity:60%}
    60%{opacity:80%}
    80%{opacity:90%}
    100%{opacity:100%}
}
.bottom_star{
    position: relative;
    width: 2.3rem;
    height: 2.3rem;
    top: -14rem;
    right: -24.2rem;
    animation: bottom_star 2s ease-in-out 0.33s infinite alternate;
}
@keyframes bottom_star {
    0%{opacity:20%}
    20%{opacity:40%}
    40%{opacity:60%}
    60%{opacity:80%}
    80%{opacity:90%}
    100%{opacity:100%}
}
.astro_pa{
color: white;
    font-size: 1.1rem;
    text-align: left;
}
.astro_word_div{
    flex-direction: column;
}
.astro_heading{
    font-weight: bolder;
    font-size: 4rem;
    color: #9a6aff;
    width: 80%;

}
.btn_cwallect2{
    padding: 1rem;
    background-color: #1fc7d4;
    border-radius: 0.8rem;
    font-size: larger;
    color: #191a2d;
    width: 4rem;
    font-weight: bold;
}
.btn_trade_now{
    border: 0.1rem solid #1e92a2;
    padding: 1rem;
    border-radius: 0.8rem;
    color: #1e92a2;
    background-color: #1c152f;
    width: 4rem;
    font-weight: bold;
}
.btn_tc_div{
    margin-top: 2.5rem;
}

#div_bnb{
    display: flex;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: white;
    gap: 0.5rem;
    height: 60%;
    background-color: #353547;
    padding-right: 0.3rem;
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
    box-shadow:  0px 0.1rem #353547;
}
.bnb_word{
    width: 9rem;
}
#down_arrow{
    width: 0.8rem;
    background-color: white;
}
.btn_cwallect{
    border-radius: 2rem;
    background-color: #1fc7d4;
    color: #191626;
    height: 60%;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    margin-top: 0.2rem;
    box-shadow:  0px 0.1rem #1fc7d4;
}
.sep1,.sep2{
    display: flex;
}
.sep1{
    gap: 1.4rem;
}
.sep2{
    gap: 1.3rem;
}
#btn_\(\.\.\.{
    font-size: xx-large;
}
#img_beer{
    width: 1.9rem;
}
#img_beer:hover,.ps_word:hover{
    cursor: pointer;
}
.imgs{
    width: 1.8rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec_1{
    display: flex;
    gap: 0.58rem;
    justify-content: center;
    align-items: center;
}
#img_globe:hover,#img_settings:hover,#div_bnb:hover,#btn_cwallect:hover{
    opacity: 50%;
    cursor: pointer;
}
.buttons{
    color: #aa92ad;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    position: relative;
    opacity: 70%;
    background: none;
}
.buttons:hover{
    cursor: pointer;
    opacity: 10000000000%;
}
.scale_borders{
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
}
.scale_borders:hover{
    background-color: #353547;
    transform: scalex(140%) scaley(115%);
    border-radius: 0.7rem;
    opacity: 60%;
}

#img_deer2:hover{
    transform: scale(120%);
    transition-delay: 0.5ms;
}
.sec_2{
    display: flex;
    gap: 1.5rem;
}
.sec_3{
    display: flex;
    gap: 0.46rem;
    justify-content: center;
    align-items: center;
}
.api-price{
    font-weight: bolder;
    color: #7a6eaa;
    font-size: small;
}
.api-price:hover, #img_beer:hover,.ps_word:hover{
    cursor: pointer;
}
.sec_4{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}
.ps_word{
    font-size: larger;
    color: white;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px){
}
@media screen and (max-width: 375px){

}
/* div_2 */

/* div_3 */

/* div_4 */

/* div_5 */

/* div_6 */

/* div_7 */

/* div_8 */

/* div_9 */

/* div_10 */
