.header2 {
    background-color: rgba(39, 38, 44, 0.7);
    height: 42px;
    display: flex;
    gap: 15px;
    justify-content: center;
    border-top: 1px solid rgb(52, 49, 52);
        &_overview, &_application {
            display: flex;
            padding: 4px 4px 0px;
            a {
                color: #b8add2;
                font-weight: 400;
                line-height: 2.4;
            }
            &:hover {
                background-color: rgba(81, 86, 111, 0.5);
            }
            svg {
                fill: #b8add2;
                position: relative;
                top: 4px;
            }
        }
        &_overview {border-bottom: 4px solid #1fc7d4; a {color:#9a6aff;font-weight: 600;}}
}
.container_section1 {
    background: radial-gradient(103.12%50%at 50%50%,#21193a 0%,#191326 100%);
}
.parent_section1 {
    display: flex;
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 48px;
}
.section1 {
    max-width: 1200px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 48px 24px;
    &_left {
        flex: 0.38;
        height: 640px;
        width: 560px;
        img {
            height: auto;
            max-width: 100%;
        }
    }
    &_right {
        align-self: center;
        margin-left: 48px;
        flex: 0.62;
        max-width: fit-content;
        &_a {
            font-size: 64px;
            font-weight: 600;
            color: #9a6aff;
            line-height: 1.1;
        }
        &_b {
            font-size: 24px;
            font-weight: 600;
            margin: 32px 0px;
            color: #f4eeff;
            line-height: 1.1;
        }
        &_c {
            display: flex;
            flex-direction: row;
        }
}
}









































.bluebutton {
    display: flex;
    align-items: center;
    margin-right: 16px;
    background-color: #1fc7d4;
    padding: 0px 24px;
    border-radius: 16px;
    height: 48px;
    border: 0px;
    letter-spacing: 0.03em;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    cursor: pointer;
        &:hover {
        opacity: 70%;
        }
}

.button_anchor {
    font-weight: 600;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    color: #191326;
}

.transbutton {
    display: flex;
    align-items: center;
    margin-right: 16px;
    background-color: transparent;
    padding: 0px 24px;
    border: 2px solid #1fc7d4;
    border-radius: 16px;
    height: 48px;
    letter-spacing: 0.03em;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    cursor: pointer;
        &:hover {
        opacity: 70%;
        }
}
.trans_anchor {
    font-weight: 600;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    color: #1fc7d4;
    &:hover {
        text-decoration: underline;
    }
}
