$color-text1-dark: #f4eeff;
$color-text2-dark: #b8add2;
$color-text3-dark: #9a6aff;
$color-button: #1fc7d4;
$heavy_weight: 600;
$middle_weight: 400;


.testnavbar {
    display: flex;
    min-height: 50px;
    background: $color-text3-dark;
    color: $color-text1-dark;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    &::after {
        content: "Navbar";
    }
}
.header2 {
    background-color: rgba(39, 38, 44, 0.7);
    height: 42px;
    display: flex;
    gap: 15px;
    justify-content: center;
    border-top: 1px solid rgb(52, 49, 52);
        &_overview, &_application, &_dashboard {
            display: flex;
            padding: 4px 4px 0px;
            a {
                color: $color-text2-dark;
                font-weight: $middle_weight;
                line-height: 2.4;
            }
            &:hover {
                background-color: rgba(81, 86, 111, 0.5);
            }
            svg {
                fill: $color-text2-dark;
                position: relative;
                top: 4px;
            }
        }
        &_overview {border-bottom: 4px solid $color-button; a {color:$color-text3-dark;font-weight: $heavy_weight;}}
}
.container_section1 {
    background: rgb(33,25,58);
    background: radial-gradient(circle, rgba(33,25,58,1) 0%, rgba(25,19,38,1) 100%);
}
.parent_section1 {
    display: flex;
    position: relative;
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 48px;
}
.section1_floating {
    #floimg1 {
        position: absolute;
        left: 15%;
        top: 6%;
        width: auto;
    }
    #floimg2 {
        position: absolute;
        left: 15%;
        bottom: 5%;
        width: auto;
    }
    #floimg3 {
        position: absolute;
        right: 10%;
        top: 15%;
        width: auto;
    }
}
.section1 {
    max-width: 1200px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 48px 24px;
    &_left {
        flex: 0.38;
        height: 640px;
        width: 560px;
        img {
            height: auto;
            max-width: 100%;
        }
    }
    &_right {
        align-self: center;
        margin-left: 48px;
        flex: 0.62;
        max-width: fit-content;
        &_a {
            font-size: 64px;
            font-weight: $heavy_weight;
            color: $color-text3-dark;
            line-height: 1.1;
        }
        &_b {
            font-size: 24px;
            font-weight: $heavy_weight;
            margin: 32px 0px;
            color: $color-text1-dark;
            line-height: 1.1;
        }
        &_c {
            display: flex;
            flex-direction: row;
        }
}
}

.container_section3 {
    position: relative;
    background: linear-gradient(140deg,#313d5c,#3d2a54);
    align-items: center;
}

.parent_section3 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 48px;
}

.section3 {
    padding-left: 16px;
    padding-right: 16px;
    margin: 0px auto;
    &_top {
        &_container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 70px;
        }
        display: flex;
        flex-direction: column;
        align-self: center;
        align-items: center;
        width: 450px;
        &_1 {
            font-size: 40px;
            margin: 32px 0px;
            text-align: center;
            font-weight: $heavy_weight;
            line-height: 1.1;
            color: #ffffff;
        }
        &_2 {
            font-size: 16px;
            margin-bottom: 32px;
            text-align: center;
            font-weight: $middle_weight;
            line-height: 1.5;
            color: $color-text2-dark ;
        }
        #centered_bb {
            margin-right: 0px;
        }
    }
    &_bottom {
        margin-top: 92px;
        
        &_1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            &a {
                font-weight: $heavy_weight;
                line-height: 1.5;
                font-size: 20px;
                color: $color-text3-dark;
                margin-bottom: 16px;
            }
            &b {
                font-weight: $middle_weight;
                line-height: 1.5;
                font-size: 16px;
                color: $color-text2-dark;
                margin-bottom: 48px;
                text-align: center;
            }
        }

        &_2 {
            display: flex;
            flex-direction: row;
            &a {
                margin-bottom: 0px;
                display: flex;
                flex-direction: column;
                width: 200px;
                &_x {
                    max-height: 148px;
                    max-width: 128px;
                    position: relative;
                    width: 100%;
                    margin: auto auto 20px;
                }
                &_y {
                    border-right: 1px solid black;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    &1 {
                        color: $color-text3-dark;
                        font-weight: $heavy_weight;
                        line-height: 1.5;
                        font-size: 12px;
                    }
                    &2 {
                        color: $color-text1-dark;
                        font-weight: $heavy_weight;
                        line-height: 1.5;
                        font-size: 32px;
                    }
                }
            }
            &b {
                margin-bottom: 0px;
                display: flex;
                flex-direction: column;
                width: 200px;
                &_x {
                    max-height: 148px;
                    max-width: 128px;
                    position: relative;
                    width: 100%;
                    margin: auto auto 20px;
                }
                &_y {
                    border-right: 1px solid black;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    &1 {
                        color: $color-text3-dark;
                        font-weight: $heavy_weight;
                        line-height: 1.5;
                        font-size: 12px;
                    }
                    &2 {
                        color: $color-text1-dark;
                        font-weight: $heavy_weight;
                        line-height: 1.5;
                        font-size: 32px;
                    }
                }
            }
            &c {
                margin-bottom: 0px;
                display: flex;
                flex-direction: column;
                width: 200px;
                &_x {
                    max-height: 148px;
                    max-width: 128px;
                    position: relative;
                    width: 100%;
                    margin: auto auto 20px;
                }
                &_y {
                    border-right: none;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    &1 {
                        color: $color-text3-dark;
                        font-weight: $heavy_weight;
                        line-height: 1.5;
                        font-size: 12px;
                    }
                    &2 {
                        color: $color-text1-dark;
                        font-weight: $heavy_weight;
                        line-height: 1.5;
                        font-size: 32px;
                    }
                }
            }
        }
    }
}

.section4 {
    display: flex;
    flex-direction: column;
    max-width: 724px;
    margin: 0px auto;
    &_box_imgtext, &_box_textimg {
        display: flex;
        flex-direction: row;
        margin-top: 48px;
        img {
            width: 220px;
            height: auto;
        }
        .section4_box_text {
            display: flex;
            flex-direction: column;
            align-self: center;
            margin: 0px 32px;
            .section4_box_right_top {
                margin-bottom: 24px;
                color: $color-text3-dark;
                font-weight: $heavy_weight;
                line-height: 1.5;
                font-size: 32px;
            }
            .section4_box_right_bot {
                color: $color-text2-dark;
                font-weight: $middle_weight;
                line-height: 1.5;
                font-size: 16px;
            }
        }
    }
}

.parent_section5 {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding: 14px 0px 48px;
    background: linear-gradient(180deg,#434575,#66578d);;
}
.section5_box {
    padding: 0px 16px;
    max-width: 1200px;
    margin: 0px auto;
}
.section5 {
    max-width: 1028px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &_header {
        color: $color-text1-dark;
        font-size: 40px;
        font-weight: $heavy_weight;
        line-height: 1.5;
        text-align: center;
        margin-bottom: 64px;
    }
    &_faq{
        display: flex;
        flex-direction: column;
        background: #27262c;
        color: $color-text1-dark;
        border-radius: 24px;
        border: 1px solid #383241;
        border-bottom: 3px solid #383241;
        min-width: 1032px;
        &_header {
            padding: 24px;
            background: linear-gradient(166.77deg,#3b4155,#3a3045);
            border-top-right-radius: 24px;
            border-top-left-radius: 24px;
            h2 {
                font-size: 24px;
                color: $color-text3-dark;
                font-weight: $heavy_weight;
                line-height: 1.1;
                margin: 0px;
            }
        }
        &_bottom {
            display: flex;
            flex-direction: column;
            padding: 24px;
            .section5_faq_q_box {
                display: flex;
                flex-direction: column;
                margin-top: 24px;
                .faq_toprow {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                    padding-bottom: 16px;
                    &_q {
                        color: $color-text1-dark;
                        font-size: 16px;
                        font-weight: bold;
                        line-height: 1.5;
                    }
                    .faq_button_area {
                        display: flex;
                        button {
                            background: transparent;
                            border: 0px;
                            cursor: pointer;
                            color: $color-button;
                            font-weight: 600;
                            font-size: 16px;
                            height: 48px;
                            padding: 0px 24px;
                            img {
                                margin-left:8px;
                                top:5px;
                                position:relative;
                            }
                            &:hover {
                                opacity: 0.5;
                            }
                        }
                    }
                }
                .faq_hiddenrow {
                    display: none;
                    flex-direction: column;
                    padding-bottom: 16px;
                    .hiddenrow_text {
                        color: $color-text2-dark;
                        font-weight: $middle_weight;
                        font-size: 16px;
                        a {
                            color: $color-button;
                        }
                    }
                }
            }
        }
    }

}

.dash {
    display: inline-block;
    margin-right: 5px;
}

footer {
    display: flex;
    min-height: 400px;
    background: $color-text3-dark;
    color: $color-text1-dark;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    &::after {
        content: "Footer";
    }
}

.bluebutton {
    display: flex;
    align-items: center;
    margin-right: 16px;
    background-color: #1fc7d4;
    padding: 0px 24px;
    border-radius: 16px;
    height: 48px;
    border: 0px;
    letter-spacing: 0.03em;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    cursor: pointer;
        &:hover {
        opacity: 70%;
        }
}

.button_anchor {
    font-weight: $heavy_weight;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    color: #191326;
}

.transbutton {
    display: flex;
    align-items: center;
    margin-right: 16px;
    background-color: transparent;
    padding: 0px 24px;
    border: 2px solid #1fc7d4;
    border-radius: 16px;
    height: 48px;
    letter-spacing: 0.03em;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    cursor: pointer;
        &:hover {
        opacity: 70%;
        }
}
.trans_anchor {
    font-weight: $heavy_weight;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    color: #1fc7d4;
    &:hover {
        text-decoration: underline;
    }
}

@media screen and (max-width: 576px) {
    .header2 {
        justify-content:start;
        padding-left: 0px;
        margin-left: 0px;
    }
}
@media screen and (max-width: 370px) {
    .header2 {
        justify-content:start;
        margin-left: 10px;
        &_application {
            a {
                svg {
                    display: none;
                }
            }
        }
    }
}
@media screen and (max-width: 852px) {
    .parent_section1 {
        padding-top: 16px;
    }
}

#floimg1 {
    animation-name: floimg1;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}
@keyframes floimg1{
    0%{
        transform: translate(0px, 0px);
    }
    50%{
        transform: translate(10px, 10px);
    }
    100%{
        transform: translate(0px,0px);
    }
}

#floimg2 {
    animation-name: floimg2;
    animation-duration: 3.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}
@keyframes floimg2{
    0%{
        transform: translate(0px, 0px);
    }
    50%{
        transform: translate(-10px, 10px);
    }
    100%{
        transform: translate(0px,0px);
    }
}

#floimg3 {
    animation-name: floimg3;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}
@keyframes floimg3{
    0%{
        transform: translate(0px, 0px);
    }
    50%{
        transform: translate(-10px, 10px);
    }
    100%{
        transform: translate(0px,0px);
    }
}

.section3_float {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#floimg3-1 {
    left: 20%;
    top: 5%;
    position: absolute;
    height: auto;
    max-width: 100%;
    width: 110px;
    animation-name: floimg3_1;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes floimg3_1{
    0%{
        transform: translate(0px, 0px);
    }
    50%{
        transform: translate(10px, 10px);
    }
    100%{
        transform: translate(0px,0px);
    }
}

#floimg3-2 {
    left: 0px;
    bottom: 5%;
    position: absolute;
    height: auto;
    max-width: 100%;
    width: 296px;
    animation-name: floimg3_2;
    animation-duration: 3.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes floimg3_2{
    0%{
        transform: translate(0px, 0px);
    }
    50%{
        transform: translate(-10px, 10px);
    }
    100%{
        transform: translate(0px,0px);
    }
}

#floimg3-3 {
    right: 10%;
    top: 5%;
    position: absolute;
    height: auto;
    max-width: 100%;
    width: 42px;
    animation-name: floimg3_3;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes floimg3_3{
    0%{
        transform: translate(0px, 0px);
    }
    50%{
        transform: translate(-10px, 10px);
    }
    100%{
        transform: translate(0px,0px);
    }
}

#floimg3-4 {
    right: 0px;
    top: 15%;
    position: absolute;
    height: auto;
    max-width: 100%;
    width: 210px;
    animation-name: floimg3_4;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes floimg3_4{
    0%{
        transform: translate(0px, 0px);
    }
    50%{
        transform: translate(10px, 10px);
    }
    100%{
        transform: translate(0px,0px);
    }
}


#floimg3-5 {
    right: 10%;
    bottom: 5%;
    position: absolute;
    height: auto;
    max-width: 100%;
    width: 72px;
    height: 63px;
    animation-name: floimg3_5;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes floimg3_5 {
    0%{
        transform: translate(0px, 0px);
    }
    50%{
        transform: translate(-10px, 10px);
    }
    100%{
        transform: translate(0px,0px);
    }
}